<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>TextClipboard</title>
    <script type="text/javascript" src="/jquery.min.js"></script>
    <script type="text/javascript" src="/clipboard.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/primer.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>

<!--<body id="body" contenteditable="true" style="height: -webkit-fill-available">-->
<body>

<div id="example-action" class="example">
    <div class="input-group">
        <textarea id="txt" cols="200" rows="30" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
    </div>
    <div class="form-actions">
        <button class="btn" type="button" data-clipboard-demo="" data-clipboard-target="#txt">
            Copy to clipboard
        </button>
    </div>
</div>

<script type="text/javascript">
    var clipboard = new ClipboardJS('.btn');
    clipboard.on('success', function (e) {
        console.log(e);
    });
    clipboard.on('error', function (e) {
        console.log(e);
    });

    $(function () {
        var onLeader;
        $(document).keydown(function (e) {
            if (e.keyCode === 91 || e.keyCode === 17) {
                onLeader = true
            } else if (e.keyCode === 13 && onLeader) {
                put()
            } else {
                onLeader = false
            }
            return true
        })
    });

    function put() {
        var htmlobj = $.ajax({
            type: 'POST', data: {data: $('#txt').val()}, async: true, success: function () {
                window.location.href = '/clipboard/' + htmlobj.responseText
            }
        })
    }
</script>
</body>

</html>