# ${schema} 数据字典
>   本数据字典由应用自动导出，字典的备注来自数据库表及其字段的注释(`comment`)。

<#list tables as table>
## ${table.name!} ${table.remarks!}

|  字段名  |  数据类型  |  默认值  |  允许非空 |  自增 |  主键  |  备注  |
| ------ | ------ | ------ | ------ | ------ | ------ | ------ |
<#list table.baseColumns as column>
|  ${column.name!}  |  ${column.type!}  |  ${column.defaultValue!}  |  ${column.nullable?string('yes', 'no')} |  ${column.autoincrement} |  ${column.pk?string('yes', 'no')}  |  ${((column.remarks)?length>0)?string((column.remarks),"-")}  |
</#list>

</#list>